/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url(../assets/rainbow.css);
/* @import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap'); */

body {
	padding: 20px;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}

pre {
	padding: 1rem;
}

pre>code {
	all: unset;
}

blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

/* .nav-link,
a:visited,
a:hover,
a:link {
	color: black;
	text-decoration: none;
} */

h1 {
	font-size: 60px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;
}


h5 {
	font-size: 20px;
}

.date,
.nav {
	font-size: 20px;
}

li,
p {
	font-size: 16px;
}

.dotted {
	border-style: dotted;
}

.dashed {
	border-style: dashed;
}

.container {
	max-width: 65ch;
	font-size: 1rem;
	margin: auto;
	line-height: 1.75;
}


:root {
	animation: rainbow 15s ease 0s infinite;
	--vp-c-brand: #749c25;
	--name-filter: blur(50px);
	--vp-c-brand-next: #009ff7;
}

@keyframes filterFont {
	from {
		letter-spacing: -14px;
	}

	to {
		letter-spacing: 2px;
	}
}

.name {
	animation: filterFont 3s forwards;
	color: var(--vp-c-brand) !important;
}

.bg-image {
	position: absolute;
	border-radius: 50%;
	width: 192px;
	height: 60px;
	background-image: linear-gradient(-45deg, var(--vp-c-brand) 30%, var(--vp-c-brand-next));
	filter: var(--name-filter);
}