---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Chatgdp from '../components/chatgdp.vue';
import BotMsgRow from "../components/BotMsgRow.vue";
import MeMsgRow from "../components/MeMsgRow.vue";
import ContactMe from "../components/ContactMe.vue";
// import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={} description={} />
  </head>
  <body>
    <!-- <Header title={} /> -->
    <main>
      <Chatgdp client:load>
        <BotMsgRow client:load />
        <MeMsgRow client:load />
        <ContactMe client:load />
      </Chatgdp>
    </main>
    <!-- <Footer /> -->
  </body>
</html>
