---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

let title: any = 'Allen Tong';
let description: any = '';
let cover: any ;
let permalink: any = '';
---

<BaseHead {title} {description} {permalink} />
<BlogHeader />
<body class="text-gray-700 dark:text-gray-200">
  <main class="container ">
    <header class="col-12 p-3 p-md-3 prose m-auto">
      <div class="flex"   style="width: 120px; height:60px;">
        <div class="bg-image"></div>
        <span class="headerMain self-center">
          <a class="name" href="/"> {title}</a>
        </span>
      </div>
    </header>
    <div class="prose  m-auto">
      <p>Hey, I am Allen Tong, a fanatical programmers located in Shanghai, China.</p>
      <p>Through this page, I would like to share with you some projects I’ve done and what I’ve been through.</p>
      <p>Recently, I have been following  Anthony Fu for a couple months, his enthusiasm to coding and dedication really inspired me a lot. Now, I’m used to learning industry news from Twitter and digging myself in those forward-looking feature and innovative ecological technology.</p>
    </div>

  </main>
  <Footer />
</body>

<style>
.prose {
  max-width: 95ch;
}
</style>
