---
  import { Icon } from 'astro-icon'
  import ThemeIcon from './ThemeIcon.astro';
  import '../styles/global.css'

---
<nav class="navbar p-3">
  
  <div class="spacer" />
  <div class="right" >
    <a href="/posts" title="Blog">
      <span class="lt-md:hidden">Blog</span>
      <Icon name="ri:article-line" class="md:hidden" />
    </a>
    <a href="/projects" title="Projects">
      <span class="lt-md:hidden">Projects</span>
      <Icon name="ri:lightbulb-line" class="md:hidden" />
    </a>
    <a href="/talks" class="lt-md:hidden" title="Talks">
      Talks
    </a>
    <a href="/podcasts" class="lt-md:hidden" title="Podcasts">
      Podcasts
    </a>
    <a href="/demos" title="Demos">
      <span class="lt-md:hidden">Demos</span>
      <Icon name="icon-park-outline:screenshot-two" class="md:hidden" />
    </a>
    <a href="/chat" title="Let's Chat">
      <Icon name="ri:chat-1-line" />
    </a>
    <a href="/sponsors-list" title="Sponsors">
      <Icon name="ri:user-heart-line" />
    </a>
    <a href="https://twitter.com/antfu7" target="_blank" title="Twitter" class="lt-md:hidden">
      <Icon name="ri:twitter-line" />
    </a>
    <a href="https://github.com/antfu" target="_blank" title="GitHub" class="lt-md:hidden">
        <Icon name="ri:github-line" />
    </a>
    <a href="/feed.xml" target="_blank" title="RSS" class="lt-md:hidden">
      <Icon name="la:rss-square" style="font-size:1.25rem; margin: -0.125rem -0.125rem;" />
    </a>
    <ThemeIcon />
  </div>
</nav>
<style>
a:hover {
	opacity: 1;
	text-decoration-color: inherit;
}

nav a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	transition: opacity 0.2s ease;
	opacity: 0.6;
	outline: none;
}

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  box-sizing: border-box;
}

.right {
	display: grid;
	grid-gap: 1.2rem;
	grid-auto-flow: column;
}

.right>* {
	margin: auto;
}

[astro-icon] {
  height: 1.2em;
  width: 1.2em;
  vertical-align: text-bottom;
}
</style>
